* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.classwork__wrapper {
    display: flex;
    height: 100vh;    
    }

    .classwork__section-left {
        flex-basis: 50%;
        padding: 3rem;
    }

    .classwork__section-right {
        flex-basis: 50%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.346), #0000007a), url("https://images.pexels.com/photos/12309550/pexels-photo-12309550.jpeg?cs=srgb&dl=pexels-yelena-odintsova-12309550.jpg&fm=jpg");
        background-size: cover;
    }
